.App {
  background-color: #eee;
  width: 100vw;
  height: 100vh;
}

.search-bar-container {

  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chosen{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chosenPlayer {
  line-height: 2;
}


.guesses{
  display: flex;
  flex-direction: column;
  align-items: center;
}


td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope='col'] {
    background-color: #002D72;
    color: #FF5910;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}